$border-bottom-color: rgb(241, 241, 241); 
$page-font-color: black;
$slideshow-bullet-active-color: rgb(255, 255, 255);

$blue: #1697C7;
$blue-tinted: rgba(22, 151, 199,0.5);
$blue-tint: #44C8F5;

$pink: #EF3C76;
$pink-tinted: rgba(239, 60, 117, 0.5);
$pink-tint: #F591BE;

$orange: #ED6216;
$orange-tinted: rgba(237, 97, 22, 0.5);
$orange-tint: #FFCB08;
$orange-tint-tinted: rgba(255, 201, 8, 0.8);

$green: #00A551;
$green-tinted: rgba(0, 165, 80, 0.5);
$green-tint: #B2CB08;

$red: #E41E26;
$red-tinted: rgba(228, 30, 37, 0.5);
$red-tint: #F37B70;

$cyan: #00ACAB;
$cyan-tinted: rgba(0, 172, 172, 0.5);
$cyan-tint: #78C7C7;

$black: black;